$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: #69dead;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 75px;
  color: white;
  text-align: center;
}

td {
border: 3px solid white;
height: 150px;
width: 200px;
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.author-details{
  background-color:#464d4a;
  margin: none;
  height: 20px;
  width: 100%;
  bottom: 0px;
  position: absolute;
}

.messages{
  color: white;
  font-type: bold;
}

a{
  color: white;
}

.container{
  border: 5px solid #ffffff
}

.social-media{
  background-color:#464d4a;
  color: white;
  text-decoration: none;
  height: 20px;
  float: right;
}
nav{
  color: white;
  background-color: #464d4a;
  height: 20px;
  text-transform: uppercase;
}
.author-details{
  color: white;
  font-style: "Geneva", sans-serif;/*import the geneva text*/
  text-transform: uppercase;
  background-color: #464d4a;
  height: 20px;
}
